extends ../templates/_layout.jade

block vars
  - var page = "about"

block content
  h2 Prof Matthias Bickel
  p 
    strong DMD, PhD, Registered Specialist in Prosthodontics
  p
  | Prof Bickel is registered as a dentist as well as specialist in prosthodontics in Australia and
  | Switzerland. He treats private patients in Brisbane, Mitchelton and Toowoomba.
  p
  | During most of his more than 30 year long academic career he has taught Prosthodontics at different
  | Universities in Switzerland, USA and Australia, for 2 years he was a Postdoc at the Department of
  | Periodontics at the University of Geneva and for 5 years a Visiting Fellow and Visiting Associate
  | at the National Institutes of Health in Bethesda, Maryland, USA.
  p
  | Throughout most of his academic career Prof Bickel has also worked part-time in private practice as
  | well as the public sector in Australia where he has kept in contact with the "Real World".
  p
  | His specialist expertise includes Full and Partial Dentures, Occlusion and Joint Problems, Crowns and
  | Bridges and Implant Based Restorations.

