extend ../templates/_layout.jade

block vars
  - var page = "crowns"

block content
  h2 Crowns and Bridges
  p
  | #[strong Crowns] are used to build up and strengthen teeth that are substantially fractured or decayed.
  br
  | The tooth is prepared by removing some of the natural structure creating an ideally shaped abutment. An 
  | artificial tooth in gold, acrylic or ceramic is prepared in the dental laboratory and attached to the 
  | abutment with special cement.
  p
  | #[strong Bridges] replace one or more missing teeth. They consist of crowns on either side of a gap
  | and additional artificial teeth attached in between.

