extend ../templates/_layout.jade

block vars
  - var page = "dentures"

block content
  h2 Removable Complete or Partial Dentures
  p
  | Full or partial dentures are removable tooth replacements created in the dental
  | laboratory.
  p
  | We will take exact impressions and measurements of your jaw position and chewing
  | pattern and the dental technician will produce the dentures to our specifications.
  p 
  | A well-made denture will fit tightly, provide good chewing function and imitates
  | a natural look.
  p
  | For additional security dental implants can be inserted in the bone to act as 
  | anchors for dentures to clip on.

