extend ../templates/_layout.jade

block vars
  - var page = "implants"

block content
  h2 Dental Implants
  p
  | Dental Implants are titanium screws imbedded in the jaw bone to replace missing tooth
  | roots. They can support crowns, full or partial dentures.
  p
  | Rapidly evolving materials and techniques allow implants to be placed in most circumstances.

