extends ../templates/_layout.jade

block vars
  - var page = "home"

block content
  h2 Welcome
  p
  | A fully functional dentition is an important factor contributing to overall health.
  p 
  | As a registered Prosthodontist Prof Bickel is qualified to not only replace missing teeth 
  | but also help improve your chewing function, diagnose and treat problems of the mandibular 
  | joint (TMJ) and produce radiant smiles by overhauling neglected dentitions.
  p
  | Whether you need one tooth replaced or a comprehensive full mouth restoration we can advise 
  | you on all aspects of dental rehabilitation.
  p 
  | There is "no one size fits all" solution.

