extends ../templates/_layout.jade

block content
  div.panel.panel-success
    div.panel-heading Mail sent
    div.panel-body
      p You mail has been sent.
      p
        a(href="javascript:history.go(-1)") Back to form

