extends ../templates/_layout.jade

block vars
  - var page = "patients"

block content
  h2 For Patients 
  p
  | There are many different options available to replace teeth and improve the function and looks of your existing dentition.
  p 
  | A consultation with Prof Matthias Bickel will help you decide what's best for you.

