extend ../templates/_layout.jade

block vars
  - var page = "professionals"

block content
  h2 Professional Services and Referrals
  p
  | Our practice incorporates both fixed and removable Prosthodontics and we are happy
  | to either provide treatment planning advice or complete prosthodontic treatment.
  p
  | We warmly welcome your referrals and look forward to working with you in the future.
  p
  | Please feel free to contact us if you would like to discuss particular problems.
  p
    br
    a(href="mailto:info@betterpros.com.au")
      i.fa.fa-envelope.fa-fw(aria-label="email")
      |  info@betterpros.com.au
    br
    a(href="files/referral.pdf")
      i.fa.fa-file-pdf-o.fa-fw
      |  referral form (PDF)

