extend ../templates/_layout.jade

block vars
  - var page = "referrals"

block content
  h2 Referrals
  p
  | Our practice incorporates both fixed and removable Prosthodontics and we are happy
  | to either provide treatment planning advice or complete prosthodontic treatment.
  p
  | We warmly welcome your referrals and look forward to working with you in the future.
  p
  | Please feel free to contact us if you would like to discuss particular problems.
  p
  | @todo link referral.pdf

