extend ../templates/_layout.jade

block vars
  - var page = "smile"

block content
  h2 Smile Makeover
  p
  | Teeth can show various faults or blemishes such as staining, chips and cracks that develop 
  | over the years or inherited traits such as dental irregularities, gaps or misalignment.
  p 
  | #[strong Bonding] can be used to correct small blemishes. This is an easy quick solution.
  p
  | #[strong Veneers] are a more permanent solution where a tooth coloured shell is produced 
  | in the dental laboratory and then cemented to the prepared tooth.
  p
  | #[strong Bleaching] is helpful to remove stains on teeth that have developed over the years. 
  | There are a variety of systems available both for in office or home application.

