doctype html
html(lang='en')
  block vars
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title='Bickel Dental Services'
    link(rel="stylesheet" type="text/css" href="bootstrap.css")
    link(rel="stylesheet" type="text/css" href="font-awesome.css")
    link(rel="stylesheet" type="text/css" href="theme.css")
    style
      | .row-padded { margin-bottom: 1em; }
      | .page-header h1 { color: rgb(0, 0, 139); }
  body
    div.container
      div.row
        div.col-md-9
          div.page-header
            h1 Bickel Dental Services
              button.btn.btn-default.hidden-lg.hidden-md.pull-right(type="button" data-toggle="collapse" data-target=".collapse")
                i.fa.fa-bars
          div.row
            div.col-md-3
              include _nav.jade
            div.col-md-9
              block content
        div.col-md-3(style="margin-top: 2em")
          include _rightbar.jade

  script(src="jquery.min.js")
  script(src="bootstrap.js")

