address.contact.center-block
  strong 1300 BICKEL
  br
  | (1300 242 535)
  br
  a(href="mailto:info@betterpros.com.au") info@betterpros.com.au
div.panel.panel-default
  div.panel-heading Practice Locations
  div.panel-body
    address
      | Toowoomba
      br
      | 98 Margaret Street
    address
      | Kenmore
      br
      | Princeton Court
      | Unit 8
      br
      | 20 Brookfield Rd
