address.contact.center-block
  strong 1300 BICKEL
  br
  | (1300 242 535)
  br
  a(href="mailto:info@betterpros.com.au") info@betterpros.com.au
div.panel.panel-default
  div.panel-heading Practice Locations
  div.panel-body
    address
      | Mitchelton
      br
      | 12 Osborne Rd
    address
      | Toowoomba
      br
      | Medici Medical Centre
      | Unit 108
      br
      | 15 Scott Street
    address
      | Brisbane Airport
      br
      | The AIDER
      br
      | Leonardo Dr/Da Vinci Blv
